{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="col-lg-12">
    <h1 class="text-center mt-5 mb-5">Welcome to Fast Parcel</h1>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CUSTOMER</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque provident perspiciatis
            non deleniti officiis magnam quia porro, esse eius vero nam laudantium voluptas blanditiis praesentium
            culpa itaque nesciunt maiores voluptatum.</p>
          <a href="/customer/" class="btn btn-warning">Detail</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CUSTOMER</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, nesciunt. Eos, quibusdam
            ipsa est ad inventore natus exercitationem id nemo! Voluptatibus iure quo impedit odio reiciendis eaque
            nesciunt sequi ad.</p>
          <a href="/courier/" class="btn btn-warning">Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}